<template>
   <div>
    <v-container
      v-for="align in alignments"
      :key="align"
      class="grey lighten-5 md-6"
      style="margin: 10px auto;"
    >
      <v-row
        :align="align"
        no-gutters
        style="height: auto;"
      >
        <v-col
          class="col-md-4"
        >
          <v-col
            class="col-md-7"
          >
            <h6 class="corporate-card-heading">Corporate Card</h6>
            <v-col class="red-card-wrap pink col-md-12">
              <div class="curntblanctxt">Current Balance</div>
              <div class="curntblanctxtbold">Debit BusineesVirtualDebitCard</div>

              <v-row  class="justify-center pd-r2" >
                <v-col class="col-md-7">
                  <h2 class="balancered-cardtxt">$4,570,80</h2>
                  <h5 class="balancered-cardtxt" style="font-size: 11px;">*** *** *** 4598</h5>
                </v-col>

                <v-col class="col-md-5 ">
                  <span class="btn-cvv btn-wrap-cvv">Show CVV</span>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="col-md-12 space-between" style="padding: 3px 12px;">
                  <span class="frondo-baggins"> Frodo Baggins</span>
                  <span class="date-Expre"> 08/24 </span>
                </v-col>
              </v-row>
            </v-col>
          </v-col>
            <v-col class="col-md-7 justify-center">
                  <span class="pre-approvaltxt">MAKE PAYMENT</span>
              </v-col>
        </v-col>
         <v-col
          class="col-md-5"
        >
          <v-row>
              <v-col class="col-md-6 justify-center direction-col">
                <v-col class="col-md-7">
                  <h6 class="amount-heading"> Amount Spent</h6> 
                  <h5 class="money-txt">$132.32</h5>
                </v-col>

                 <v-col class="col-md-7">
                   <h6 class="amount-heading">Remaining Balance</h6>                    
                   <h5 class="money-txt">$4868.68</h5>
                </v-col>
              </v-col>
              <v-col class="col-md-6 justify-center direction-col">
                <v-col class="col-md-7">
                  <h6 class="amount-heading">Rewards Earned</h6> 
                  <h5 class="money-txt">$6.62</h5>
                </v-col>

                 <v-col class="col-md-7">
                   <h6 class="amount-heading">Monthly Limit</h6> 
                   <h5 class="money-txt">$5000</h5>
                </v-col>
              </v-col>
              <v-row class="footer-content-wrap">
                <v-col class="col-md-12 justify-center">
                  <v-col class="col-md-6"> TRANSFER MONEY  </v-col>
                  <v-col class="col-md-6">ALL TRANSACTIONS</v-col>

                </v-col>
              </v-row>
          </v-row>
        </v-col>
          <v-col
          class="col-md-3"
        >
           <v-row>
              <v-col class="col-md-12 wrap-column3">
                 <v-col class="col-md-12">
                    <div class="deactivate-wrap wrap-btn-bussiness-deaactivate">
                      <span class="bvirtualdebit">BussinessVirtualDebitCard</span>
                      <span class="circle"> </span>
                      <span class="deactivate-btn">Deactivated</span>
                    </div>
                  </v-col>
              </v-col>
              <v-col class="col-md-12 justify-center mr2">
                  <span class="pre-approvaltxt">PRE APPROVAL</span>
              </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
   </div>
</template>
<script>
export default {
  name: "CustomDesign",
  data(){
    return{
      alignments: [
        'center',
        'center',
        'center',
      ],
    }
  },
  mounted(){
  }
}

</script> 
