<template>
  <v-row justify="center">
    <v-col
      cols="12"
      sm="6"
    >
        <!-- v-slot="{ hover }" -->
      <v-hover
        open-delay="200"
      >
        <v-card
          :elevation="hover ? 16 : 2"
          :class="{ 'on-hover': hover }"
          class="mx-auto"
          height="450"
          max-width="450"
        >
          <v-row style="height: inherit">
            <v-col class="form-left-section" md=5>
              <v-col md=12 class="whitetxt" >
                 <h2 class="brick-heading">briq</h2>
                 <div class="brick-sub-heading"><span class="underlinetxt">brillance at work</span> at work</div>
                 <p class="briq-para">
                   briq is cooperate performance
                   management platform build
                   to make the lives of construction financial
                   professionals easier and to make contractor more
                   profitable
                 </p>
                 <h6 class="learn-more">Learn more</h6>
              </v-col>
            </v-col>
             <v-col class="form-right-section" md=7>
               <v-col md='11' class="forn-right-inner-wrap">
                 <h2 align="center">Sign In</h2>

                  <div class="input-wrap">
                    <input type="email" id="typeEmailX-2" placeholder="Email" class="form-control custom-inout" />
                  </div>
                  <div class="input-wrap">
                    <input type="password" id="typePass-2" placeholder="Password"  class="form-control custom-inout" />
                  </div>
          
                   <button class="btnbt btnbt-primary btn-lg btn-block" type="submit">SIGN IN</button> 

                  <v-row class="btn-wrap">
                    <div class="form-check col-md-6">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="cstm-lebel" for="exampleCheck1">Remember me</label>
                    </div>
                    <v-col class="forget-password" md='6'>
                        <a class="forget-pass" href="">Forget password</a>
                    </v-col>
                  </v-row>
                  
                  <v-row>
                    <v-col class="line" md='5'>
                      <hr/>
                    </v-col> 
                    <v-col class="or" md='2'>OR</v-col> 
                     <v-col class="line" md='5'>
                      <hr/>
                     </v-col>
                  </v-row>

                  <v-row class="btn-googlebtn">
                        <a class="btn  btn-google btn-block " href="#">
                          <div><img src="https://img.icons8.com/color/16/000000/google-logo.png"> </div>
                          <div>Signup Using Google</div>
                        </a>  
                  </v-row>
                  <v-row class="btn-googlebtn microsoft-btn">
                        <a class="btn  btn-google btn-block" href="#">
                          <div>
                            <img src="https://docs.microsoft.com/en-us/azure/active-directory/develop/media/howto-add-branding-in-azure-ad-apps/ms-symbollockup_mssymbol_19.png"> 
                          </div>
                          <div> Signin with Microsoft </div>
                        </a>  
                  </v-row>
                 
              



               </v-col>
            </v-col>

          </v-row>
        </v-card>
      </v-hover>
    </v-col>
  </v-row>
</template>
<script>
export default {
  name: "CustomDesign",
  data(){
    return{
      allowSpaces: true,
      alignments: [
        'center',
        'center',
        'center',
      ],
    }
  },
  mounted(){
  }
}

</script> 
