<template>
   <div>
     <div  class="nav-wrap">
       <router-link to="/customDesign" class="product-btn">       
        <v-btn
        depressed
        color="primary"
      >
        MY DESIGN
      </v-btn>
    </router-link>
   &nbsp; &nbsp;
      <router-link to="/productform" class="product-btn">       
        <v-btn
        depressed
        color="primary"
      >
        Add Product
      </v-btn>
    </router-link>
    </div>
    <br/>
    <br/>
    <h1 align="center">Product List</h1>
    <br/>
    <br/>
    <v-data-table
      :headers="headers"
      :items="List"
      :items-per-page="1"
      class="elevation-1"
    ></v-data-table>
   </div>
</template>
<script>
export default {
  name: "ProductList",
  data(){
    return{
      headers: [
          {
            text: 'ID',
            align: 'center',
            sortable: false,
            value: 'id',
          },
          { text: 'Name', value: 'name', align: 'center' },
          { text: 'Category', value: 'category',  align: 'center' },
          { text: 'Manufacture', value: 'mfd' ,  align: 'center'},
          { text: 'Currency', value: 'currency' ,  align: 'center'},
          { text: 'Price', value: 'price' ,  align: 'center'},
       ],
       List: [],
    }
  },
  mounted(){
    this.List = this.$store.state.list
  }
}

</script>
