<template>
  <v-app>
    <v-form ref="form" v-model="valid">
      <v-container>
        <h1>Product Form</h1>
        <v-row justify="center">
          <v-col cols="12" md="12">
            <v-text-field
              v-model="productname"
              :rules="nameRules"
              :counter="10"
              label="Product Name"
              required
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row justify="center">
          <v-col cols="12" md="12">
            <v-select
              v-model="selectCategory"
              :items="category"
              label="Select Category"
              data-vv-name="select"
              required
            ></v-select>
          </v-col>
        </v-row>

        <v-row justify="center">
          <v-col cols="12" md="12">
            <v-select
              v-model="selectCurrency"
              :items="currency"
              label="Select Currency"
              data-vv-name="select"
              required
            ></v-select>
          </v-col>
        </v-row>
         <v-row justify="center">
          <v-col cols="12" md="12">
            <v-text-field
              v-model="price"
              :rules="priceRules"
              :counter="10"
              type="number"
              label="Product Price"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col cols="12" sm="6" md="12">
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="date"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="date"
                  label="Picker in menu"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" no-title scrollable  :allowed-dates="allowedDates">
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="menu = false">
                  Cancel
                </v-btn>
                <v-btn text color="primary" @click="$refs.menu.save(date)">
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>
        </v-row>

        <v-row justify="center">
          <v-col cols="12" md="12">
            <v-btn depressed  color="primary" @click="handleSubmitForm">
                 Submit Form
            </v-btn>
          </v-col>
        </v-row>
        
      </v-container>
    </v-form>
  </v-app>
</template>

<script>
export default {
  name: "ProductForm",
  data: () => ({
    list: [],
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    menu: false,
    selectCurrency: "",
    currency: [
      { value: "INR", text: "₹" },
      { value: "USD", text: "$" },
    ],
    selectCategory: "",
    category: ["Electronics", "Toys", "Fashions", "Grocery"],
    valid: false,
    productname: "",
    price: "",
    nameRules: [
      (v) => !!v || "Product Name is required",
      (v) => v.length <= 10 || "Product Name must be less than 10 characters",
    ],
    priceRules: [
      (v) => !!v || "Product Price is required",
      (v) => v.length <= 10 || "Product Price must be less than 10 characters",
    ]
  }),
  methods: {
    allowedDates: val => {
      if(new Date(val)  <=  new Date()){
        return true
      }
      return false
    },

    handleSubmitForm(){
      console.log('this---valid',this.valid)
       this.$refs.form.validate()
      if(this.valid){
        const newObj = {
          id : this.list.length ,
          name: this.productname,
          category: this.selectCategory,
          mfd: this.date,
          currency: this.selectCurrency,
          price: this.price
        }
        this.$store.commit('AddProduct', newObj)
        console.log('this.list', this.$store.state.list)
        this.productname = ''
        this.selectCategory = ''
        this.selectCurrency = '',
        this.price = ''
        this.$router.push('/')
      }
    }
  },
  mounted(){
    console.log('=ss=',this.$store.state.list)
  }
};
</script>
