.nav-wrap {
    width: 100%;
    height: 50px;
    background: gainsboro;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 10px;
}

.product-btn {
    color: #fff !important;
    text-decoration: none;
}

.wrap-btn-bussiness-deaactivate{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.justify-center {
    justify-content: center !important;
    display: flex;
    align-items: center;
}

.curntblanctxt {
    color: #f290a7;
    font-size: 10px;
    font-weight: 600;
}
.curntblanctxtbold {
    font-size: 9px;
    color: #ffffff;
    font-weight: 600;
}
.balancered-cardtxt {
    color: #ffffff;
    font-size: 18px;
}
.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.frondo-baggins {
    font-size: 9px;
    color: #ffff;
    font-weight: 600;
    letter-spacing: 2px;
}
.date-Expre {
    font-size: 9px;
    color: #ffff;
    font-weight: 600;
}
.btn-wrap-cvv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 2px solid #b2393b;
    height: 18px;
}
.btn-cvv {
    text-align: center;
    font-size: 9px;
    color: #b2393b;
}
.pd-r2 {
    padding-right: 8px;
}
.red-card-wrap {
    padding: 19px !important;
    border-radius: 30px;
}
.amount-heading {
    color: #a8adb4;
    font-size: 12px;
    font-weight: 400;
}
.money-txt {
    font-size: 24px;
    color: #717172;
    font-weight: normal;
}
.footer-content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px !important;
}
.footer-content-wrap div {
    color: #a8adb4;
    font-size: 12px;
    text-align: center;
}
.wrap-column3 {
    padding: 30px 0 133px 0 !important;
}
.bvirtualdebit {
    border: 1px solid #a8adb4;
    padding: 2px 14px;
    border-radius: 20px;
    font-size: 9px;
    color: #000;
}
.deactivate-btn{
    color: #a8adb4;
    font-size: 12px;
}
.pre-approvaltxt{
    color: #a8adb4;
    font-size: 12px;
}
.corporate-card-heading {
    padding: 10px;
    font-size: 15px;
}
.circle {
    height: 11px;
    width: 11px;
    border: 1px solid gray;
    border-radius: 50%;
    position: relative;
    margin-right: 2px;
    margin-left: 22px;
}
.direction-col.col {
    flex-direction: column;
}
.mr2 {
    margin-top: 5px;
}










/* --- Form --- */

.form-left-section {
    background: #110b22;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whitetxt {
    color: #ffff;
    text-align: center;
    margin-bottom: 148px;
}
.brick-sub-heading {
    font-size: 8px;
}

.briq-para {
    font-size: 9px;
    margin-top: 23px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.input-wrap {
    padding: 12px 0px;
}
.form-control::placeholder {
    color: #b6b9bb;
    font-size: 10px;
    font-weight: 500;
}

.btnbt{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnbt-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
}
.btnbt-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
    outline: 0;
}

.forget-pass {
    color: #1976d2;
    font-size: 12px;
}
.cstm-lebel {
    font-size: 10px;
    margin: 0 4px;
    color: #86878a;
}
.form-check {
    display: flex;
    align-items: center;
}
.or {
    font-size: 9px;
    padding: 0;
    margin: -4px 0px 0px 0px;
}
.row.btn-wrap {
    margin-top: 0px;
}
 
.btn-google {
    color: #545454 !important;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
    padding: 6px 15px;
    text-decoration: none;
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-googlebtn {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 19px 0 !important;
    width: 100%;
}
.underlinetxt {
    text-decoration: underline;
}